.panel {
  &__content {
    padding: 20px;
  }
  &.grey-3 h2 {
    background-color: var(--color-grey-3);
  }
  &.grey-2 h2 {
    background-color: var(--color-grey-2);
  }
  &.grey-1 h2 {
    background-color: var(--color-grey-1);
  }
  h2 {
    font-size: 1em;
    font-weight: 400;
    padding: 12px;
    color: #fff;
  }
}

@media screen and (max-width: 780px){
  .panel {
    &.grey-1, &.grey-2, &.grey-3 {
      h2 {
        background-color: #fff;
      }
    }
    h2 {
      margin-top: 12px;
      font-size: 1.2em;
      color: #333;
      text-align: center;
    }
  }
}