:root {
  --header-height: 60px;
}

$dp__font_family: Verdana;
$dp__font_size: 12px;
$dp__preview_font_size: 1.2em;
$dp__time_font_size: 1.2em;
$dp__time_inc_dec_button_size: 24px;

@import '@vuepic/vue-datepicker/src/VueDatePicker/style/main.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
}

h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 4em;
  font-weight: 700;
  color: #333;
}

h2 {
  font-family: 'Space Grotesk', sans-serif;
}

h3 {
  font-size: 1.4em;
  font-family: 'Space Grotesk', sans-serif;
  color: #333;
  margin: 16px 0;
  padding: 16px 0;
  border-bottom: 1px solid #ccc;
}

.btn-primary {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #555;
  }
  &.btn-invalid:hover {
    background-color: red;
  }
  &:disabled{
    background-color: red;
  }
}

input, textarea, select {
  font-family: 'Space Grotesk', sans-serif;
  display: block;
  margin: 12px 0;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #ebebeb;
  width: 100%;
  &.error {
    border-color: #ff0000;
  }
}