:root {
  --header-height: 60px;
  --color-grey-1: #333;
  --color-grey-2: #555;
  --color-grey-3: #777;
}

$dp__font_family: Verdana;
$dp__font_size: 12px;
$dp__preview_font_size: 1.2em;
$dp__time_font_size: 1.2em;
$dp__time_inc_dec_button_size: 24px;
$dp__button_height: 30px;

@import '@vuepic/vue-datepicker/src/VueDatePicker/style/main.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
}

h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 4em;
  font-weight: 700;
  color: #333;
}

h2 {
  font-family: 'Space Grotesk', sans-serif;
}

h3 {
  font-size: 1.4em;
  font-family: 'Space Grotesk', sans-serif;
  color: #333;
  margin: 16px 0;
  padding: 16px 0;
  border-bottom: 1px solid #ccc;
}